nette:
	application:
		mapping:
			*: IPubTests\ConfirmationDialog\*Presenter

services:
	# Test presenter
	presenters.test:
		class: IPubTests\ConfirmationDialog\TestPresenter

	router: IPubTests\ConfirmationDialog\Libs\RouterFactory::createRouter
