#
# Confirmation dialog extension translations
#
# @language		en_US
#
# @copyright	More in license.md
# @license		https://www.ipublikuj.eu
# @author		Adam Kadlec https://www.ipublikuj.eu
# @package		iPublikuj:ConfirmationDialog!
# @subpackage	Translations
# @since		1.0.0
#
# @date			09.06.14
#

buttons:
	bYes	: "Yes"
	bNo		: "No"

messages:
	tokenIsExpired	: "Confirmation token has expired. Please try action again."
